<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.marmutech.ramdantimetable.ramadantimetable">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:name=".RamdanTimtableApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".ui.MainActivity" />
    <activity
        android:name=".ui.schedule.ScheduleListActivity"
        android:label="@string/title_activity_schedule_list_acitivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".ui.detail.DetailActivity" />
    <activity android:name=".ui.splash.SplashActivity"/>
    <activity
        android:name="com.marmutech.ramdantimetable.ramadantimetable.ui.setting.SettingActivity"
        android:label="@string/title_activity_setting"
        android:theme="@style/AppTheme.NoActionBar"
        android:parentActivityName="com.marmutech.ramdantimetable.ramadantimetable.ui.schedule.ScheduleListActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.marmutech.ramdantimetable.ramadantimetable.ui.schedule.ScheduleListActivity" />
    </activity>
</application>

</manifest>
